<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%=package.siteName%>-错误页面
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="../css/console/layout.css" rel="stylesheet">
    <link type="text/css" href="../css/console/access_right.css" rel="stylesheet">
</head>

<body>
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <a href="/" class='logo-link'>
            <%=package.siteName%>
        </a>
        <!-- 登录相关 -->
        <span class='login'>
            <% if(user){ %>
                <span id="userName" data-user-name='<%= user.userName %>' data-user-id='<%= user.id %>'><%= user.userName %></span>
                <% } %>
        </span>
    </header>
    <!-- 面包屑 -->
    <nav class='nav-top'>
        <span><%=package.siteName%></span>
        <span>错误页面</span>
    </nav>
    <!-- 内容主体 -->
    <section class="flyer-layout-content">
        <div class="flyer-form-item access-right">
            <div class="access-right-leftimg">
                <img src="../imgs/not_allow.png">
            </div>
            <div class="access-right-rightbox">
                <div>
                    <img src="../imgs/error.png">
                </div>
                <div class="access-right-bottom">
                    <p>您没有访问该页面的权限！</p>
                    <a href="/console"><button class="flyer-btn-blue" style="cursor:pointer;padding:6px;">返回控制台</button></a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <span class="footer-brand">Version: <span class="version-icon"><span class='version-update'></span>
                <%=package.version %>
            </span>
        </span>
        <span class="footer-brand">
            <strong class="text-danger"><%=package.siteName%></strong>
        </span>
        <p class="no-margin">
            © <span>2018</span> <strong><%=package.siteName%></strong>. ALL Rights Reserved.
        </p>
    </footer>
</body>

</html>