<!DOCTYPE>
<!-- 语言的设置是为了翻印使用 zh和zh-cn是简体和繁体的区别 -->
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=package.siteName%>-官网</title>
    <!-- <link rel="shortcut icon" href="favicon.ico"> -->
    <link type="text/css" href="../plugins/css/flyer.all.min.css?v=<%=package.version %>" rel="stylesheet">
    <link type="text/css" href="../dest/css/yidian.front.all.css?v=<%=package.version %>" rel="stylesheet">
</head>

<body>
    <!--[if lte IE 8]>
    <p class="browserupgrade">您的浏览器版本老的可笑, 请到 <a href="http://browsehappy.com/">这里</a> 更新, 以获取最佳的体验</p>
    <![endif]-->
    <!-- 页面结构 头部（顶部导航-二级导航） 中部（交易金额-轮播图-网站介绍-网站公告-产品介绍）底部（链接-版权）-->
    <!-- class 命名一般都是使用中横线分割  id一般采用的是驼峰命名 -->
    <!--头部  -->
    <header>
        <nav class="main">
            <!-- 此处两种方式  一个是使用直接潜入到结构中，还有一种是背景图片，一般logo的话 是使用img标签 -->
            <a href="#" class="brand pull-left">
                <img src="../imgs/logo.png" height="40" alt="回到首页">
            </a>
            <ul class="text-right">
                <li>
                    <a href="#">首页</a>
                </li>
                <li>
                    <a href="#">充值</a>
                </li>
                <li>
                    <a href="#" id="userLogin">登录</a>
                </li>
                <li>
                    <a href="#" id="userRegister">注册</a>
                </li>
                <li>
                    <a href="/console">控制台</a>
                </li>
                <li>
                    <a href="/console">个人信息<i class="mdui-icon material-icons">&#xe5c5;</i></a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- 中间内容 根据规范，section和article都需要有标题 -->
    <div class="container">
        <!-- 广告轮播图 -->
        <!-- <div class="ad">
            <div class="item">
            </div>
            <div class="item hide">
            </div>
            <div class="item hide">
            </div>
            <ul class="control text-center">
                <li class="active" data-index="0">
                    <span></span>
                </li>
                <li data-index="1">
                    <span></span>
                </li>
                <li data-index="2">
                    <span></span>
                </li>
            </ul>
        </div> -->
        <!-- 网站功能介绍 -->
        <section class="feature">
            <div class="item">
                <h3>
                    真实访问量
                </h3>
                <p>完全自然人工浏览，不同地区IP
                    <br/>真实流量，安全可靠
                </p>
            </div>
            <div class="item">
                <h3>
                    提升店铺权重
                </h3>
                <p>百万人同时在线，深度访问
                    <br/>增加店铺宝贝收藏，提高权重
                </p>
            </div>
            <div class="item">
                <h3>
                    提高点击率
                </h3>
                <p>专业的关键词优化，提高点击率
                    <br/>有点击才会有流量
                </p>
            </div>
            <div class="item">
                <h3>
                    打造爆款
                </h3>
                <p>轻松为你打造店铺爆款产品
                    <br/>从而引爆全店销量
                </p>
            </div>
        </section>
        <!-- 公告 -->
        <div class="notice clearfix js-notice-container">
            <!-- <a href="#" class="pull-left text-ellipsis js-notice-item js-notice-item-active">
                <span class="js-notice-title">2018-5-19</span>
                <span class="js-notice-content">元旦期间业务受理及值班公告元旦期间业务受理及值班公告元旦期间业务受理及值班公告元旦期间业务受</span>
            </a> -->
            <a href="#" class="more pull-right js-notice-view-more">更多公告</a>
        </div>
        <!-- 产品 -->
        <section class="product clearfix">
            <h2 class="pull-left text-center">淘宝任务
                <em>真实访问量</em>
                <em>提升店铺权重</em>
                <em>提高点击率</em>
                <em>打造爆款</em>
            </h2>
            <div class="product-content pull-right">
                <div class="item clearfix">
                    <h3>
                        <em>搜索流量</em>
                        <i>
                            APP/PC
                        </i>
                    </h3>
                    <div class="info">
                        <p>
                            单次消费：
                            <span class="year-rate">
                                50积分
                                <i>起</i>
                            </span>
                        </p>
                        <p>
                            总成交金额：
                            <span class="year-rate">
                                18000
                                <i>万积分</i>
                            </span>
                        </p>
                    </div>
                    <div class="buy">
                        <a href="#">立即下单</a>
                    </div>
                </div>
                <div class="item clearfix">
                    <h3>
                        <em>直仿流量</em>
                        <i>店铺/商品</i>
                    </h3>
                    <div class="info">
                        <p>
                            单次消费：
                            <span class="year-rate">
                                80积分
                                <i>起</i>
                            </span>
                        </p>
                        <p>
                            总成交金额：
                            <span class="year-rate">
                                100
                                <i>万积分</i>
                            </span>
                        </p>
                    </div>
                    <div class="buy">
                        <a href="#">立即下单</a>
                    </div>
                </div>
                <div class="item clearfix">
                    <h3>
                        <em>收藏任务</em>
                        <i>宝贝/搜索/店铺</i>
                    </h3>
                    <div class="info">
                        <p>
                            单次消费：
                            <span class="year-rate">
                                80积分
                                <i>起</i>
                            </span>
                        </p>
                        <p>
                            总成交金额：
                            <span class="year-rate">
                                100
                                <i>万积分</i>
                            </span>
                        </p>
                    </div>
                    <div class="buy">
                        <a href="#">立即下单</a>
                    </div>
                </div>
                <div class="item clearfix">
                    <h3>
                        <em>加购任务</em>
                        <i>搜索/直接</i>
                    </h3>
                    <div class="info">
                        <p>
                            单次消费：
                            <span class="year-rate">
                                80积分
                                <i>起</i>
                            </span>
                        </p>
                        <p>
                            总成交金额：
                            <span class="year-rate">
                                100
                                <i>万积分</i>
                            </span>
                        </p>
                    </div>
                    <div class="buy">
                        <a href="#">立即下单</a>
                    </div>
                </div>
                <div class="item clearfix">
                    <h3>
                        <em>淘宝直播</em>
                        <i>关注/点赞/观看/开团提醒</i>
                    </h3>
                    <div class="info">
                        <p>
                            单次消费：
                            <span class="year-rate">
                                80积分
                                <i>起</i>
                            </span>
                        </p>
                        <p>
                            总成交金额：
                            <span class="year-rate">
                                100
                                <i>万积分</i>
                            </span>
                        </p>
                    </div>
                    <div class="buy">
                        <a href="#">立即下单</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- 产品 -->
        <section class="product clearfix">
            <h2 class="pull-left text-center">京东店铺任务
                <em>真实访问量</em>
                <em>提升店铺权重</em>
                <em>提高点击率</em>
                <em>打造爆款</em>
            </h2>
            <div class="product-content pull-right">
                <div class="item clearfix">
                    <h3>
                        <em>流量</em>
                        <i>
                            店铺/商品
                        </i>
                    </h3>
                    <div class="info">
                        <p>
                            单次消费：
                            <span class="year-rate">
                                80积分
                                <i>起</i>
                            </span>
                        </p>
                        <p>
                            总成交金额：
                            <span class="year-rate">
                                100
                                <i>万积分</i>
                            </span>
                        </p>
                    </div>
                    <div class="buy">
                        <a href="#">立即下单</a>
                    </div>
                </div>
                <div class="item clearfix">
                    <h3>
                        <em>收藏</em>
                        <i>
                            商品
                        </i>
                    </h3>
                    <div class="info">
                        <p>
                            单次消费：
                            <span class="year-rate">
                                80积分
                                <i>起</i>
                            </span>
                        </p>
                        <p>
                            总成交金额：
                            <span class="year-rate">
                                100
                                <i>万积分</i>
                            </span>
                        </p>
                    </div>
                    <div class="buy">
                        <a href="#">立即下单</a>
                    </div>
                </div>
                <div class="item clearfix">
                    <h3>
                        <em>关注</em>
                        <i>
                            店铺/达人
                        </i>
                    </h3>
                    <div class="info">
                        <p>
                            单次消费：
                            <span class="year-rate">
                                80积分
                                <i>起</i>
                            </span>
                        </p>
                        <p>
                            总成交金额：
                            <span class="year-rate">
                                100
                                <i>万积分</i>
                            </span>
                        </p>
                    </div>
                    <div class="buy">
                        <a href="#">立即下单</a>
                    </div>
                </div>
                <div class="item clearfix">
                    <h3>
                        <em>加购</em>
                        <i>
                        直接/搜索
                        </i>
                    </h3>
                    <div class="info">
                        <p>
                            单次消费：
                            <span class="year-rate">
                                80积分
                                <i>起</i>
                            </span>
                        </p>
                        <p>
                            总成交金额：
                            <span class="year-rate">
                                100
                                <i>万积分</i>
                            </span>
                        </p>
                    </div>
                    <div class="buy">
                        <a href="#" class="">立即下单</a>
                    </div>
                </div>
                <div class="item clearfix">
                    <h3>
                        <em>抢购</em>
                        <i>
                            预约
                        </i>
                    </h3>
                    <div class="info">
                        <p>
                            单次消费：
                            <span class="year-rate">
                                80积分
                                <i>起</i>
                            </span>
                        </p>
                        <p>
                            总成交金额：
                            <span class="year-rate">
                                100
                                <i>万积分</i>
                            </span>
                        </p>
                    </div>
                    <div class="buy">
                        <a href="#">立即下单</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- 底部导航 -->
        <nav class="footer">
            <div class="footer-content clearfix">
                <!-- 此处的logo不需要链接，直接使用css处理 -->
                <p class="brand pull-left"></p>
                <ul>
                    <li class="title">
                        关于我们
                    </li>
                    <li>
                        <a href="#">公司介绍</a>
                    </li>
                    <li>
                        <a href="#">业务模式</a>
                    </li>
                    <li>
                        <a href="#">合作机构</a>
                    </li>
                    <li>
                        <a href="#">服务协议</a>
                    </li>
                </ul>
                <ul>
                    <li class="title">
                        风险防范
                    </li>
                    <li>
                        <a href="#">账户安全</a>
                    </li>
                    <li>
                        <a href="#">安全保障</a>
                    </li>
                </ul>
                <ul>
                    <li class="title">
                        理财产品
                    </li>
                    <li>
                        <a href="#">固定期限</a>
                    </li>
                    <li>
                        <a href="#">债券/散标</a>
                    </li>
                </ul>
                <ul>
                    <li class="title">
                        交易帮助
                    </li>
                    <li>
                        <a href="#">购买</a>
                    </li>
                    <li>
                        <a href="#">赎回</a>
                    </li>
                    <li>
                        <a href="#">提现</a>
                    </li>
                </ul>
                <ul>
                    <li class="title">
                        机构服务
                    </li>
                    <li>
                        <a href="#">机构中心</a>
                    </li>
                    <li>
                        <a href="#">合作联系</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- 底部 -->
    <footer class="front-footer">
        <p class="text-center">
            <%=package.siteName%> @2016-2018</p>
    </footer>
    <script type="text/javascript" src="../plugins/js/jquery.min.js?v=<%=package.version %>"></script>
    <script type="text/javascript" src="../js/common/jquery.extend.js?v=<%=package.version %>"></script>
    <script type="text/javascript" src="../plugins/js/flyer.all.js?v=<%=package.version %>"></script>
    <script src="../js/front.js" type="text/javascript"></script>
</body>

</html>