<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>亚马逊客服-首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="../plugins/css/flyer.all.min.css?v=<%=package.version %>" rel="stylesheet">
    <link type="text/css" href="../plugins/css/font-awesome.min.css?v=<%=package.version %>" rel="stylesheet">
    <link type="text/css" href="../plugins/css/animate.min.css?v=<%=package.version %>" rel="stylesheet">
    <link type="text/css" href="../dest/css/acs.all.min.css?v=<%=package.version %>" rel="stylesheet">
</head>

<body>
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <a href="<%= baiyi_home %>" class='logo-link'>
            <img src="../imgs/logo-new.png" alt="logo" />
        </a>
        <!-- 登录相关 -->
        <span class='login'>
            <span><%= username %></span>
        <a href="/logout"><i class="icon-out"></i></a>
        </span>
    </header>
    <!-- 面包屑 -->
    <nav class='nav-top'>
        <span>销售工具</span>
        <span>亚马逊客服</span>
    </nav>
    <!-- 侧边栏 -->
    <aside>
        <div class="flyer-layout-aside">
            <ul class="flyer-layout-tree">
                <!-- <li>
                    <h2 class="flyer-layout-title"><i class="fa fa-align-justify" aria-hidden="true"></i>快速入口</h2>
                </li> -->
                <% menus.forEach(function(val,index,items){ %>
                    <li>
                        <a data-href="<%= val.url %>" class="flyer-layout-link"><i class="<%= val.icons %>" aria-hidden="true"></i><label class="i18n" data-i18nKey="<%= val.pageName %>"></label>
                        <% if(val.hasTag){%>
                            <span>#</span>
                        <% } %></a>
                    </li>
                    <% }) %>
            </ul>
        </div>
        <!-- 树状菜单 -->
        <div>

        </div>
    </aside>
    <!-- 内容主体 -->
    <section class="flyer-layout-content">

    </section>
    <footer>
        <span class="footer-brand">Version: <span class = "version-icon"><span class = 'version-update'></span>
        <%=package.version %>
            </span>
            </span>
            <span class="footer-brand">
                <strong class="text-danger">AUKEY</strong>
            </span>
            <p class="no-margin">
                © <span id="year">2017</span> <strong>AUKEY</strong>. ALL Rights Reserved.
            </p>
    </footer>
    <script type="text/javascript" src="../plugins/js/jquery.min.js?v=<%=package.version %>"></script>
    <script type="text/javascript" src="../plugins/js/flyer.all.min.js?v=<%=package.version %>"></script>
    <script type="text/javascript" src="../plugins/js/echarts.simple.min.js?v=<%=package.version %>"></script>
    <script type="text/javascript" src="../js/core.js?v=<%=package.version %>"></script>
    <script type="text/javascript" src="../js/index.js?v=<%=package.version %>"></script>
</body>

</html>