<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%=package.siteName%>网店推广工具-淘宝引流——免费流量提升——手机无限APP买流量-首页
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/ico" href="favicon.ico" rel="shortcut icon">
    <link type="text/css" href="../dest/css/yidian.console.all.min.css" rel="stylesheet">
    <link type="text/css" href="../plugins/layui/css/layui.css" rel="stylesheet">
    <meta name="keywords" content="淘宝引流,淘宝免费流量,淘宝买流量,淘宝手机流量,淘宝APP流量,淘宝流量软件,淘宝流量推广,淘宝流量提升,流量推广软件,网店推广软件">
    <meta name="description" content="猎流是一款用于淘宝引流的免费提升流量软件,模拟人工自然搜索、点击、停留浏览店铺和宝贝,支持PC流量、手机无线APP流量提升,可通过买流量快速提升淘宝店铺商品搜索排名、展现量、访问量和人气值！">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b5a7f886836cb649fba0ea0bbdad1adf";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <a href="/" class='logo-link'>
            <%=package.siteName%>
        </a>
        <!-- 登录相关 -->
        <span class='login'>
            <span id="userName" data-user-name='<%= user.userName %>' data-user-id='<%= user.id %>' data-user='<%= JSON.stringify(user) %>'>
                <%= user.userName %>
            </span>
            <a href="/api/logout">
                <i class="layui-icon layui-icon-spread-left"></i>
            </a>
        </span>
    </header>
    <!-- 面包屑 -->
    <nav class='nav-top'>
        <span>
            <%=package.siteName%>
        </span>
        <span class="js-nav-text">首页</span>
    </nav>
    <!-- 侧边栏 -->
    <aside>
        <div class="flyer-layout-aside">
            <ul class="flyer-layout-tree">
                <p class='tree-shrink' id="asideToggle">
                    <i class="layui-icon layui-icon-spread-left"></i>
                </p>
                <% menus.forEach(function(val,index,items){ %>
                    <li>
                        <a data-url="<%= val.url %>" data-hash="<%= val.hash %>" data-pagename="<%=val.pageName%>" class="flyer-layout-link">
                            <i class="layui-icon <%= val.icons %>"></i>
                            <label>
                                <%= val.pageName %>
                            </label>
                        </a>
                    </li>
                    <% }) %>
            </ul>
        </div>
        <!-- 树状菜单 -->
        <div>

        </div>
    </aside>
    <!-- 内容主体 -->
    <section class="flyer-layout-content">

    </section>
    <footer>
        <span class="footer-brand" data-updatecontent="更新什么什么">Version:
            <span class="version-icon">
                <span class='version-update'></span>
                <%=package.version %>
            </span>
        </span>
        <span class="footer-brand">
            <strong class="text-danger">
                <%=package.siteName%>
            </strong>
        </span>
        <p class="no-margin">
            ©
            <span>2018</span>
            <strong>
                <%=package.siteName%>
            </strong>. ALL Rights Reserved.
        </p>
    </footer>
    <script type="text/javascript" src="../plugins/js/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="../js/common/jquery.extend.js"></script> -->
    <script type="text/javascript" src="../plugins/layui/layui.js"></script>
    <script type="text/javascript" src="../plugins/js/echarts.simple.min.js"></script>
    <!-- <script type="text/javascript" src="../js/common/aside.js"></script> -->
    <!-- <script type="text/javascript" src="../js/common/core.js"></script> -->
    <script type="text/javascript" src="../plugins/js/jquery.md5.min.js"></script>
    <!-- <script type="text/javascript" src="../js/common/index.js"></script> -->
    <!-- <script type="text/javascript" src="../js/common/api_util.js"></script> -->
    <script type="text/javascript" src="../dest/js/yidiankeji.common.all.min.js"></script>
</body>

</html>