<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%=package.siteName%>-首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/ico" href="favicon.ico" rel="shortcut icon">
    <link type="text/css" href="../plugins/css/flyer.all.min.css" rel="stylesheet">
    <link type="text/css" href="../plugins/css/animate.min.css" rel="stylesheet">
    <link type="text/css" href="../dest/css/yidian.console.all.css" rel="stylesheet">
    <link type="text/css" href="../plugins/mdui-v0-2/css/mdui.min.css" rel="stylesheet">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b5a7f886836cb649fba0ea0bbdad1adf";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <a href="/" class='logo-link'>
            <%=package.siteName%>
        </a>
        <!-- 登录相关 -->
        <span class='login'>
            <span id="userName" data-user-name='<%= user.userName %>' data-user-id='<%= user.id %>' data-user='<%= JSON.stringify(user) %>'>
                <%= user.userName %>
            </span>
            <a href="/api/logout">
                <i class="mdui-icon material-icons">&#xe879;</i>
            </a>
        </span>
    </header>
    <!-- 面包屑 -->
    <nav class='nav-top'>
        <span>
            <%=package.siteName%>
        </span>
        <span class="js-nav-text">首页</span>
    </nav>
    <!-- 侧边栏 -->
    <aside>
        <div class="flyer-layout-aside">
            <ul class="flyer-layout-tree">
                <p class='tree-shrink' id="asideToggle">
                    <i class="mdui-icon material-icons">&#xe8d4;</i>
                </p>
                <% menus.forEach(function(val,index,items){ %>
                    <li>
                        <a data-url="<%= val.url %>" data-hash="<%= val.hash %>" data-pagename="<%=val.pageName%>" class="flyer-layout-link">
                            <i class="mdui-icon material-icons">
                                <%= val.icons %>
                            </i>
                            <label>
                                <%= val.pageName %>
                            </label>
                        </a>
                    </li>
                    <% }) %>
            </ul>
        </div>
        <!-- 树状菜单 -->
        <div>

        </div>
    </aside>
    <!-- 内容主体 -->
    <section class="flyer-layout-content">

    </section>
    <footer>
        <span class="footer-brand" data-updatecontent="更新什么什么">Version:
            <span class="version-icon">
                <span class='version-update'></span>
                <%=package.version %>
            </span>
        </span>
        <span class="footer-brand">
            <strong class="text-danger">
                <%=package.siteName%>
            </strong>
        </span>
        <p class="no-margin">
            ©
            <span>2018</span>
            <strong>
                <%=package.siteName%>
            </strong>. ALL Rights Reserved.
        </p>
    </footer>
    <script type="text/javascript" src="../plugins/js/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="../js/common/jquery.extend.js"></script> -->
    <script type="text/javascript" src="../plugins/js/flyer.all.min.js"></script>
    <script type="text/javascript" src="../plugins/mdui-v0-2/js/mdui.min.js"></script>
    <script type="text/javascript" src="../plugins/js/echarts.simple.min.js"></script>
    <!-- <script type="text/javascript" src="../js/common/aside.js"></script> -->
    <!-- <script type="text/javascript" src="../js/common/core.js"></script> -->
    <script type="text/javascript" src="../plugins/js/jquery.md5.min.js"></script>
    <!-- <script type="text/javascript" src="../js/common/index.js"></script> -->
    <!-- <script type="text/javascript" src="../js/common/api_util.js"></script> -->
    <script type="text/javascript" src="../dest/js/yidiankeji.common.all.min.js"></script>
</body>

</html>